
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="/images/logo/logo_icon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- site css -->
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="stylesheet" href="/css/button.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    @* <link rel="stylesheet" href="/css/Light.css" class="ahmed" id="themeSheet" /> *@
    <link rel="stylesheet" href="/css/Dark.css" class="ahmed" id="themeSheet" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a href="/Customer/Home/Index"><img class="logo_icon img-responsive" src="/images/logo/livingroom (2).png" alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div @* class="user_img" *@><img class="img-responsive" src="/images/logo/Picture10.png" alt="#" /></div>
                            <div class="user_info">
                                <a asp-action="Index" asp-area="Customer" asp-controller="Home">
                                    <h6>FurnitureHub</h6>
                                    <p><span class="online_animation"></span> Online</p>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4><i class="fa fa-dashboard yellow_color"></i>  Dashboard</h4>
                    <ul class="list-unstyled components">
                       

                        <li>
                            <a asp-area="Admin" asp-controller="Product" asp-action="Index">
                                <i class="fa fa-table purple_color"></i>
                                <span>Products</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Category" asp-action="Index">
                                <i class="fa fa-star red_color"></i> 
                                <span>Category</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="User" asp-action="Index">
                                <i class="fa fa-users orange_color"></i> 
                                <span>User</span>
                            </a>
                         </li>

                        <li>
                            <a asp-area="Admin" asp-controller="Role" asp-action="Index">
                                <i class="fa fa-user black_color"></i>
                                <span>Roles</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Orders" asp-action="Index">
                                <i class="fa fa-truck green_color"></i>
                                <span>Orders</span>
                            </a>
                        </li>


                    </ul>
                      
                    
                        <div >
                            <input type="checkbox" class="checkbox" id="checkbox">
                            <label for="checkbox" class="checkbox-label">
                                <i class="fa fa-sun-o yellow_color"></i>
                                <i class="fa fa-moon-o blue1_color"></i>
                                
                                <span class="ball"></span>
                            </label>
                        </div>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                         @*    <div class="logo_section">
                                <a href="index.html"><img class="img-responsive" src="/images/logo/logo_black.png" alt="#" /></a>
                            </div> *@
                          
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->
                <!-- dashboard inner -->
                <div class="midde_cont">
                    <div class="container-fluid">
                        <div class="row column_title">
                            <div class="col-md-12">
                                <div class="page_title">
                                    <h2>Dashboard</h2>
                                </div>
                            </div>
                        </div>
                        <div>
                            @RenderBody()
                        </div>
                        <div class="row column1">
                            
                            
                           
                            <!-- footer -->
                            <div class="container-fluid">
                                <div class="footer">
                                    <p>
                                        Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                                        Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- end dashboard inner -->
                    </div>
                </div>
            </div>
            <!-- jQuery -->
            <script src="/js/jquery.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <!-- wow animation -->
            <script src="/js/animate.js"></script>
            <!-- select country -->
            <script src="/js/bootstrap-select.js"></script>
            <!-- owl carousel -->
            <script src="/js/owl.carousel.js"></script>
            <!-- chart js -->
            <script src=/"js/Chart.min.js"></script>
            <script src="/js/Chart.bundle.min.js"></script>
            <script src="/js/utils.js"></script>
            <script src="/js/analyser.js"></script>
            <!-- nice scrollbar -->
            <script src="/js/perfect-scrollbar.min.js"></script>
            <script>
                var ps = new PerfectScrollbar('#sidebar');
            </script>
            <!-- custom js -->
            <script src="/js/custom.js"></script>
            <script src="/js/chart_custom_style1.js"></script>

      

            <script>
                function toggleTheme(themeFile) {
                    var themeSheet = document.getElementById('themeSheet');

                    // Check if the current theme is already applied
                    if (themeSheet.getAttribute('href') === themeFile) {
                        // If the current theme is applied, do nothing (toggle effect)
                        return;
                    }

                    // Otherwise, toggle the theme
                    themeSheet.setAttribute('href', themeFile);

                    // Optionally, you can add logic here to save the user's preference to localStorage or cookies
                }

                const switchButton = document.getElementById("checkbox");
                switchButton.addEventListener("change", () => {
                    const themeFile = switchButton.checked ? "/css/Light.css" : "/css/Dark.css";
                    toggleTheme(themeFile);
                });
            </script>

          
</body>
</html>
